#header{
	display: none;
}
#resume{
	font-size: 13pt;
}
#resume .part{
	width: 100%;
}

#resume .part > .content{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 100px 15px;
	line-height: 22pt;
}
#resume .part.mini-width > .content{
	max-width: 420px;
}
#resume .part h1{
	text-align: center;
	padding: 0 0 15px 0;
}
#resume .part h5{
	text-align: justify;
	margin: 25px 0 0 0;
}
#resume .part table{
	width: 100%;
}
#resume .part table td:first-child{
	text-align: right;
	font-family: tahoma;
}
#resume .part table td:last-child{
	text-align: left;
}
#resume .part table .child{
	opacity: .7;
}
#resume .part table .child:before{
	content: ' - ';
}
#resume .part hr{
	border: none;
	border-bottom: solid 5px rgba(255,255,255,.1);
	margin: 15px 0;
	height: 0;
}
#resume .part hr.dark{
	border-bottom-color: rgba(0,0,0,.1);
}

#resume .part svg.crooked {
    pointer-events: none;
	pointer-events: none;
	display: block;
	height: 70px;
}
#resume .part svg.crooked.blue-to-light{
	fill: #835B74;
    stroke: #835B74;
	background: #E6E6E6;
}
#resume .part svg.crooked.light-to-dark{
	fill: #E6E6E6;
    stroke: #E6E6E6;
	background: #2C2C2C;
}
#resume .part svg.crooked.dark-to-light{
	fill: #2C2C2C;
    stroke: #2C2C2C;
	background: #E6E6E6;
}

#resume .bg-blue{
	background: #835B74;
	color: #E6E6E6;
}
#resume .bg-light{
	background: #E6E6E6;
	color: #2C2C2C;
	border-color: #835B74;
}
#resume .bg-dark{
	background: #2C2C2C;
	color: #E6E6E6;
	border-color: #E6E6E6;
}


#resume #part-info p{
	text-align: justify;
}
#resume .normal-width{
	max-width: 960px;
}

#resume #profile-pic{
	background: rgba(0,0,0,.3) url('../face.png') no-repeat center;
	background-size: 100%;
	width: 230px;
	height: 230px;
	margin: 0 auto 25px auto;
	border-radius: 230px;
	border: solid 8px #E6E6E6;
}

#resume .nai-value{
	height: 20px;
	background: rgba(0,0,0,.15);
	border-radius: 4px;
	overflow: hidden;
	min-width: 100px;
}
#resume .nai-value div{
	background: #835B74;
    position: relative;
    border-left: solid 5px rgba(0,0,0,.2);
    height: 40px;
	margin-top: -10px;
	right: 0;
}

#resume .images{
}
#resume .image{
	width: 200px;
	height: 200px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	margin: 2px;
}
#resume .imagerowtitle{
	width: 100%;
	margin-top: 25px;
	padding: 15px;
	display: inline-block;
}
#resume .imagerowtitle hr{
	width: 70%;
	margin: 0 auto;
}
#resume .imagerowtitle h2,
#resume .imagerowtitle small{
	text-align: center;
}
#resume .imagerowtitle small{
	font-size: .8em;
}
#resume  .image > img{
	height: 200px;
	width: 355.5px;
	margin: 0 -77.75px 0 0;
	transition: all .3s;
	cursor: pointer;
}
#resume .image:hover > img{
	width: 200px;
	height: 112.5px;
	margin: 43.75px 0 0 0;
}