#resume{
	font-size: 13pt;
}
#resume .part{
	width: 100%;
}

#resume .part > .content{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 100px 15px;
	line-height: 22pt;
}
#resume .part.mini-width > .content{
	max-width: 420px;
}
#resume .part h1{
	text-align: center;
	padding: 0 0 15px 0;
}
#resume .part h5{
	text-align: justify;
	margin: 25px 0 0 0;
}
#resume .part table{
	width: 100%;
}
#resume .part table td:first-child{
	text-align: right;
}
#resume .part table td:last-child{
	text-align: left;
}
#resume .part hr{
	border: none;
	border-bottom: solid 5px rgba(255,255,255,.1);
	margin: 15px 0;
	height: 0;
}
#resume .part hr.dark{
	border-bottom-color: rgba(0,0,0,.1);
}
#resume .part svg.crooked {
    pointer-events: none;
	pointer-events: none;
	display: block;
	height: 70px;
}
#resume .part svg.crooked.blue-to-light{
	fill: #03768C;
    stroke: #03768C;
	background: #E6E6E6;
}
#resume .part svg.crooked.light-to-dark{
	fill: #E6E6E6;
    stroke: #E6E6E6;
	background: #2C2C2C;
}
#resume .part svg.crooked.dark-to-light{
	fill: #2C2C2C;
    stroke: #2C2C2C;
	background: #E6E6E6;
}

#resume .bg-blue{
	background: #03768C;
	color: #E6E6E6;
}
#resume .bg-light{
	background: #E6E6E6;
	color: #2C2C2C;
	border-color: #03768C;
}
#resume .bg-dark{
	background: #2C2C2C;
	color: #E6E6E6;
	border-color: #E6E6E6;
}


#resume #part-info p{
	text-align: justify;
}
#resume #part-resume table tr td:first-child{
	color: #0293AF;
}
#resume #part-design-sample .content{
	max-width: 960px;
}

#resume #profile-pic{
	background: rgba(0,0,0,.3) url('../face.png') no-repeat center;
	background-size: 100%;
	width: 230px;
	height: 230px;
	margin: 0 auto 25px auto;
	border-radius: 230px;
	border: solid 8px #E6E6E6;
}

#resume .nai-value{
	height: 20px;
	background: rgba(0,0,0,.15);
	border-radius: 4px;
	overflow: hidden;
	min-width: 100px;
}
#resume .nai-value div{
	background: #03768C;
    position: relative;
    border-left: solid 5px rgba(0,0,0,.2);
    height: 40px;
	margin-top: -10px;
	right: 0;
}
