	<meta charset="utf-8" />
	<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name="author" content="امیر مونیان" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta name="fragment" content="!"/>
	{% if page.excerpt %}<meta name="description" content="{{ page.excerpt| strip_html }}" />
	<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
	{% else %}<meta name="description" content="{{ site.description }}">
	<meta property="og:description" content="{{ site.description }}" />{% endif %}
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="/resume/face.png"/>
	<meta property="og:url" content="{{site.url}}"/>
	{% if page.title %}<meta property="og:title" content="{{ page.title }}" />
	<meta property="twitter:title" content="{{ page.title }}" />
	{% else %}<meta property="og:title" content="{{ site.name }}" />
	<meta property="twitter:title" content="{{ site.name }}" />
	{% endif %}
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:url" content="https://twitter/nainemom"/>
	<meta name="twitter:description" content="{{ site.description }}"/>
	<meta name="twitter:image" content="/resume/face.png">
	<!-- <link rel="shortcut icon" href="/your-ico" type="image/x-icon" /> -->
	<link href="{{googleplus}}" rel="publisher" />