@font-face {
	font-family: 'IRAN';
	src: 	url("../font/IRAN.woff") format("woff");  /* IE6–8 */
	src: 	url("../font/IRAN.eot?#ie6") format("eot"),  /* IE6–8 */
			url("../font/IRAN.woff") format("woff"),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
			url("../font/IRAN.svg") format("svg")
			url("../font/IRAN.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

*{
	margin: 0;
	padding:0;
	font-family: IRAN, Tahoma;
	direction: rtl;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
*:not(input):not(textarea){
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
html, body{
	position: absolute;
	width: 100%;
	min-height: 100%;
	background: #E6E6E6;
	font-size: 12pt;
	line-height: 22pt;
	color: #505050;
	direction: rtl;
	overflow-x: hidden;
}

h1{
	font-size: 27pt;
}
h2{
	font-size: 23pt;
}
h3{
	font-size: 17pt;
}
h4{
	font-size: 15pt;
}
h5{
	font-size: 13pt;
}
h6{
	font-size: 10pt;
}
.hidden{
	display: none;
}

a{
	color: #276D7D;
	text-decoration: none;
}
.b{
	font-weight: bold;
}

button{
	min-width: 80px;
	padding: 5px;
	background: #276D7D;
	border: none;
	border-bottom: solid 2px #1D505B;
	color: #E6E6E6;
	cursor: pointer;
}
button:active{
	border-top: solid 2px #1D505B;
	border-bottom: solid 0;
}
button[disabled]{
	opacity: .8;
	cursor: not-allowed;
}

#header_img{
	
	
}
#header{
	padding: 40px 0 0 0;
	color: #4F4F4F;
	text-align: center;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background: #DEDEDE;
	height: 190px;
}
	#header > h1{
		margin: 15px 0;
	}
	#header > h1 > a{
		color: inherit;
		transition: all .3s;
	}
	#header > h1 > a:hover{
		color: #276D7D;
	}
	#header .logo{
		width: 45px;
		height: 38px;
		vertical-align: middle;
		margin-left: -7px;
	}
	#header > h5{
		font-weight: normal;
	}



#menu {
	color: #505050;
	padding: 2px 15px;
	background: #D8D8D8;
	text-align: center;
}
	#menu > ul{
		list-style: none;
		padding: 15px 0;
	}
	#menu > ul > li{
		display: inline;
		padding: 5px 15px;
		color: #737676;
		font-size: 15pt;
		font-weight: bold;
		transition: all .3s;
	}
	#menu > ul > li.selected{
		color: #276D7D;
	}
	#menu > ul > li:hover{
		color: #276D7D;
	}
	#menu > ul > li > a{
		color: inherit;
	}
	
#content{
	margin: 0 auto;
}
#content > .post{
	margin-bottom: 15px;
	margin: 15px auto 0 auto;
	max-width: 1024px;
	display: block;
	padding: 15px 0;
}

#content > .post > .header{
	padding: 0 15px 4px 15px;
	background: #E6E6E6;
	height: auto;
	display: block;
	width: 100%;
	text-align: right;
	
}
#content > .post > .header.cloned{
	position: fixed;
	top: 0;
	padding-top: 5px;
}

#content > .post > .header > .title{
	color: #276D7D;
	display: inline;
}
#content > .post > .header > .date{
	color: #505050;
	font-weight: normal;
	display: inline-block;
}
#content > .post > .header > .percetage-container{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 2px;
	display: none;
}
#content > .post > .header > .percetage-container > .percetage{
	background: #276D7D;
	float: left;
	height:100%;
	width: 25%;
}
#content > .post > .header.cloned > .percetage-container{
	display: inline-block;
}
	
#content > .post > .body{
	font-size: 13pt;
	line-height: 25pt;
	padding: 15px;
	color: #505050;
	border-bottom: dotted 3px #D6D6D6;
}
#content > .post > .body br{
	display: block;
	height: 2px;
}
#content > .post > .body hr{
	border: none;
	margin: 50px 0;
}
#content .post > .body q{
	padding: 30px;
	margin: 15px 0;
	width: 100%;
	display: block;
	border-radius: 15px;
	text-align: justify;
}
#content .post > .body q:before{
	font-family: fontello;
	content: '\e815';
	font-size: 20pt;
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle;
	
}
#content .post > .body .read-more{
	font-weight: bold;
	padding: 0 5px;
}
#content .post > .body .read-more:after{
	content: '...';
}

#content .post > .body p{
	margin: 0 0 15px 0;
	text-align: justify;
}
#content .post > .body p:before{
	content: ' ';
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle
}
#content .post > .comments{
	width: 100%;
	padding: 15px 7.5px 7.5px 7.5px;
}

#content .post > .comments > .new-comment,
#content .post > .comments > .list{
	width: 50%;
	padding: 7.5px;
	font-size: 11pt;
}
#content .post > .comments > .new-comment{
	float: right;
}
#content .post > .comments > .list{
	float: left;
}
#content .post > .comments > .new-comment h5,
#content .post > .comments > .list h5{
	display: block;
	color: #757575;
	padding-top: 7.5px;
	margin-bottom: 15px;
	font-weight: normal;
}




#content .post > .comments > .new-comment > table{
	width: 100%;
}
#content .post > .comments > .new-comment input{
	width: 100%;
/* 	min-height: 170px; */
	padding: 5px;
	resize: vertical;
	border: solid 1px #D6D6D6;
}
#content .post > .comments > .new-comment textarea{
	width: 100%;
	min-height: 170px;
	padding: 5px;
	resize: vertical;
	border: solid 1px #D6D6D6;
}
#content .post > .comments > .new-comment > table button{
	float: left;
}

#content .post > .comments > .list .comment,
#content .post > .comments > .list .no-comment{
	background: #DEDEDE;
	padding: 15px;
	margin-bottom: 15px;
}

#content .post > .comments > .list .comment > .name{
	color: #276D7D;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
#content .post > .comments > .list .comment > .name:after{
	content: ': ';
}

#content .post > .comments > .list .loading{
	background: url('../../images/loading.gif') no-repeat right center;
	padding-right: 20px;
	color: #276D7D;
}

#footer {

}


.clear-both{
	clear: both;
}
.clickable{
	cursor: pointer;
}



@media screen and (max-width: 1024px) {
	#content .post > .comments > .new-comment,
	#content .post > .comments > .list{
		width: 100%;
		float: none;
		padding: 15px;
	}
	#content .post > .comments > .new-comment{
		border-bottom: dotted 5px #D6D6D6;
	}
}

