@font-face {
	font-family: 'Iran';
	src: 	url("Iran.woff") format("woff");  /* IE6–8 */
	src: 	url("Iran.eot?#ie6") format("eot"),  /* IE6–8 */
			url("Iran.woff") format("woff"),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
			url("Iran.svg") format("svg")
			url("Iran.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

*{
	font-family: Iran, Tahoma;
}