<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} </title>
	{% include meta.html %}
	
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
		<link href="{{ site.url }}/assets/css/cssreset.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/style.css" />
	
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/fontello/css/fontello.css" />
	
	<script src="{{ site.url }}/assets/js/libs/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="{{ site.url }}/assets/js/libs/jquery.nearest/jquery.nearest.min.js" type="text/javascript"></script>
	
	<script src="{{ site.url }}/assets/js/script.js" type="text/javascript"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.url }}/feed.xml" />
	
</head>
<body>
	<header id="header">
		<h1>
			<a href="{{ site.url }}">
				{{ site.name }}
			</a>
		</h1>
		<h5>
			{{ site.description }}
		</h5>
	</header>
	<section id="menu">
		<ul>
			<li class="{% if page.name == 'index.html' %}selected{% endif %}"><a href="{{ site.url }}"> وبلاگ (داستان) </a></li>
			<li class="{% if page.name == 'resume.html' %}selected{% endif %}"> <a href="{{ site.url }}/resume.html"> رزومه </a></li>
		</ul>
	</section>
	<section id="content">
		{{ content }}
	</section>
	
	<footer id="footer">
	</footer>
</body>

