<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% include meta.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link href="/assets/css/cssreset.css" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.css" />
	<link href="/assets/fontello/css/fontello.css" media="all" rel="stylesheet">
	<script src="/assets/js/script.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="/feed.xml" />
	<title> {{ site.name }} – {% if page.title %}{{ page.title }}{% else %}{{ site.description_min }}{% endif %} </title>
</head>
<body>
	<header id="header">
		<h1><a href="{{ site.url }}">
{% include logo.svg %}
			{{ site.name }}
		</a></h1>
		<h5>
			{{ site.description }}
		</h5>
	</header>
	<section id="menu">
		<ul>
			<li class="{% if page.name == 'index.html' %}selected{% endif %}"><a href="/index.html"> داستان‌ها </a></li>
			<li class="{% if page.name == 'resume.html' %}selected{% endif %}"> <a href="/resume.html"> درباره من </a></li>
		</ul>
	</section>
	<section id="content">
		{{ content }}
	</section>
	
	<footer id="footer">
	</footer>
{% include analytics.html %}
</body>

