---
layout: default
---
<article class="post">
	<div class="header">
		<h2 class="title">
			<a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
		</h2>
		<h6 class="by">
			<i class="icon icon-pencil"></i>
			{{ page.by }}
		</h6>
		<h6 class="date">
			<i class="icon icon-calendar-empty"></i>
			{% assign d = page.date | date: "%-d" %}{% case d %}{% when '1' %}۱{% when '2' %}۲{% when '3' %}۳{% when '4' %}۴{% when '5' %}۵{% when '6' %}۶{% when '7' %}۷{% when '8' %}۸{% when '9' %}۹{% when '10' %}۱۰{% when '11' %}۱۱{% when '12' %}۱۲{% when '13' %}۱۳{% when '14' %}۱۴{% when '15' %}۱۵{% when '16' %}۱۶{% when '17' %}۱۷{% when '18' %}۱۸{% when '19' %}۱۹{% when '20' %}۲۰{% when '21' %}۲۱{% when '22' %}۲۲{% when '23' %}۲۳{% when '24' %}۲۴{% when '25' %}۲۵{% when '26' %}۲۶{% when '27' %}۲۷{% when '28' %}۲۸{% when '29' %}۲۹{% when '30' %}۳۰{% when '31' %}۳۱{% endcase %}
			{% assign m = page.date | date: "%-m" %}{% case m %}{% when '1' %}فروردین{% when '2' %}اردیبهشت{% when '3' %}خرداد{% when '4' %}تیر{% when '5' %}مرداد{% when '6' %}شهریور{% when '7' %}مهر{% when '8' %}آبان{% when '9' %}آذر{% when '10' %}دی{% when '11' %}بهمن{% when '12' %}اسفند{% endcase %}
			{% assign y = page.date | date: "%-y" %}{% case y %}{% when '94' %}۹۴{% when '95' %}۹۵{% when '96' %}۹۶{% when '97' %}۹۷{% when '98' %}۹۸{% when '99' %}۹۹{% when '00' %}۰۰{% endcase %}
		</h6>
		<div class="clear-both"></div>
	</div>
	<div class="body">
		 {{ content }}
	</div>
	<hr/>
	<div class="comments">
		<form class="new-comment" id="new-comment" method="post" action="http://pooleapp.com/stash/{{site.pooleapp_apikey}}/">
			<table>
				<tr>
					<td>
						<input name="name" placeholder="نام خود را وارد کنید" required></textarea>
					</td>
				</tr>
				<tr>

					<td>
						<textarea name="body" placeholder="چیزی بنویسید..." required></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="">
						<input type="hidden" name="redirect_to" value="{{page.url}}#comment_success">
						<input type="hidden" name="post" id="post-id" value="{{page.id}}">
						<button type="submit" > انتشار </button>
					</td>
				</tr>
			</table>
		</form>
		<div class="list">
			<div id="comment-list">
				{% for comment in site.data.comments.sessions reversed %}
					{% if comment.post == page.id %}
						<div class="comment">
							<span class="name{% if comment.name == '0013' %} me{% endif %}"> {% if comment.name == '0013' %}امیر{% else %}{{ comment.name }}{% endif %} </span>
							<span class="body"> {{ comment.body }} </span>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="clear-both"></div>
	</div>
</article>
<script>
	if( document.location.toString().indexOf('#comment_success') > 0 ){
		window.history.pushState('', 'Title', '#');
		alert('کامنت شما ثبت شد و اگر در آن فحش نداده باشید، احتمالا در مدت کوتاهی به نمایش در می‌آید.');
	}
</script>