---
layout: default
---
<article class="post">
	<div class="header">
		<h3 class="title"> <a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a> </h3>
		<h6 class="date"> {{ page.date | date: "%Y-%m-%d" }} </h6>
		<span class="percetage-container">
			<span class="percetage"></span>
		</span>
		<div class="clear-both"></div>
	</div>
	<div class="body">
		 {{ content }}
	</div>

	
	
	<div class="comments">
	
		<form class="new-comment" action="http://pooleapp.com/stash/676390e8-66af-442f-b9a8-9ab5b2899bc9/" method="post">
			<table>
				<tr>
					<td>
						اسم:
					</td>
					<td>
						<input name="name" placeholder=""></textarea>
					</td>
				</tr>
				<tr>
					<td>
						کامنت:
					</td>
					<td>
						<textarea name="body"></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="hidden" name="redirect_to" value="{{post.url}}">
						<input type="hidden" name="postid" value="{{post.id}}">
						<button type="submit"> ثبت </button>
					</td>
				</tr>
			</table>
		</form>

		<div class="list">
			{% for comment in site.comments.yaml.sessions %}
				{% if comment.postid == post.id %}
				
				<div class="comment">
					<span class="name">{{ comment.name }}</span>
					<span class="body">{{ comment.body }}</span>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
</article>