---
layout: default
---
<article class="post">
	<div class="header">
		<h3 class="title"> <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a> </h3>
		<h6 class="date">{% assign m = page.date | date: "%-m" %}{{ page.date | date: "%-d" }} {% case m %}{% when '1' %}فروردین{% when '2' %}اردیبهشت{% when '3' %}خرداد{% when '4' %}تیر{% when '5' %}مرداد{% when '6' %}شهریور{% when '7' %}مهر{% when '8' %}آبان{% when '9' %}آذر{% when '10' %}دی{% when '11' %}بهمن{% when '12' %}اسفند{% endcase %} {{ page.date | date: "%Y" }}</h6>
		<div class="clear-both"></div>
	</div>
	<div class="body">
		 {{ content }}
	</div>
		
	<div class="comments">
		<form class="new-comment" id="new-comment" method="post" action="http://pooleapp.com/stash/{{site.pooleapp_apikey}}/">
			<table>
				<tr>
					<td>
						<input name="name" placeholder="نام خود را وارد کنید" required></textarea>
					</td>
				</tr>
				<tr>

					<td>
						<textarea name="body" placeholder="چیزی بنویسید..." required></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="">
						<input type="hidden" name="redirect_to" value="{{page.url}}#comment_success">
						<input type="hidden" name="post" id="post-id" value="{{page.id}}">
						<button type="submit" > انتشار </button>
					</td>
				</tr>
			</table>
		</form>
		<div class="list">
			<div id="comment-list">
				{% for comment in site.data.comments.sessions %}
					{% if comment.post == page.id %}
						<div class="comment">
							<span class="name"> {{ comment.name }} </span>
							<span class="body"> {{ comment.body }} </span>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</article>
<script>
	if( document.location.toString().indexOf('#comment_success') > 0 ){
		window.history.pushState('', 'Title', '#');
		alert('کامنت شما ثبت شد و اگر در آن فحش نداده باشید، احتمالا در مدت کوتاهی به نمایش در می‌آید.');
	}
</script>